@{
    ViewData["Title"] = "First page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Farir Asa Teb</h1>
    <p>Learn about <a href="https://farirteb.com/">Farir Asa Teb</a>.</p>
</div>
